@charset "utf-8";
/* CSS specifico del progetto */
/*--fondochiaro: #F5F7FF;
    --fondogiallo: #F8F0E9;
    --fondorosa: #F1DBF8;
    --fondolilla: #E0E7FC;
    --fondoverde: #E2F0E9;
    --fondoceleste: #DDF6FF;
    --blu: #0025FF;
    --arancione: #FF944D;*/

@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');
 
:root {
    --rounded: 50px;
}

body {
    background: linear-gradient(-45deg, #7fffd4, #00bfff, #7b68ee, #ffa500);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
    margin: 0;
    font-family: 'Space Grotesk', sans-serif;
    color: #0025FF;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

main {
    margin-top: 119px;
    padding: 70px 10%;
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.full-height{
    min-height: calc(100vh - 119px - 80px);
}

* {
    box-sizing: border-box;
}

p::selection, span::selection, p a:link::selection {
    background-color: #F5F7FF;
    color: #0025FF
}


/*Caratteri*/
p, h2, h3, h4, h5 {
    margin: 0;
}

/*TESTI PRINCIPALI*/
p {
    font-size: 50px;
    color: #0025FF;
    text-align: center;
    justify-content: center;
    font-weight: 300;
}

/*TESTI PRINCIPALI EVIDENZIATI*/
h2 {
    font-size: 50px;
    color: #0025FF;
    text-align: center;
    justify-content: center;
    font-weight: 500;
}

/*BOTTONI / NOMI CHI SIAMO / ASSECONDA / CONTRASTA*/
h3 {
    font-size: 25px;
    color: #0025FF;
    text-align: center;
    justify-content: center;
    font-weight: 400;
}

/*BOTTONE TEST*/
h4 {
    font-size: 40px;
    color: #0025FF;
    text-align: center;
    justify-content: center;
    font-weight: 700;
}

/*SODDISFATT / RISULTATI CONSIGLI*/
h5 {
    font-size: 30px;
    color: #0025FF;
    text-align: center;
    justify-content: center;
    font-weight: 400;
}

/*Links*/
a:link {
    text-decoration: none;
    color: #0025FF;
    padding-bottom: 20px;
}

/*Navbar*/
nav#main-nav {
    width: 100%;
    height: 150px;
    background-color: transparent;
    display: flex;
    float: right;
    position: fixed;
    top: 0;
    padding-top: 30px;
    padding-left: 60px;
    padding-right: 60px;
    z-index: 5;
    justify-content: space-between;
    align-content: center;
    display: flex;
    align-items: center;
}

#logo {
    width: 73.83px;
}

#logo img {
    width: 100%;
}

/*Pulsanti*/
button {
    border-radius: 50%;
    font-family: 'Space Grotesk', sans-serif;
    text-decoration: none;
    text-align: center;
    color: transparent;
    background-color: transparent;
    border: 2px none;
    cursor: pointer;
    padding: 10px 10px 10px 10px;
    width: 180px;
    height: 51px;
    box-shadow: 0px 0px 10px #98ff98;
    margin-left: 50px;
}

.button-nav {
    font-size: 25px;
    font-weight: 500;
}

.button-test {
    width: 280px;
    height: 77px;
    background-color: #98ff98;
    margin: 70px 70px 70px 70px;
}

.button-avanti {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-color: #98ff98
}

.button-refresh {
    font-size: 25px;
    font-weight: 500;
    width: 158px;
    height: 51px;
    background-color: #98ff98
}

.button-nav:hover {
    background-color: #98ff98;
}

a { 
text-decoration: none;
}

/*Immagini*/
#color object, #color img {
    align-items: center;
}

#color object, #profile img {
    align-items: center;
    padding-top: 30%;
}


/*Home*/
main#home {
    margin-top: 270px;
    padding: 80px 1%;
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-content: center;
}
#home-text {
    text-align: center;
    width: 100%;
}

@media screen and (max-width: 1100px) {
    main#home {flex-direction: column-reverse; justify-content: space-around;}
    #home-text {width: 100%; text-align: center;}
}


/*Scegli Colore*/
main#scegli_colore{
    margin-top: 240px;
    padding: 80px 1%;
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

#scegli_colore {
    margin-top: 140px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.colore {
    margin: 20px 80px 20px 80px;
    display: inline-block;
    height: 158px;
    width: 158px;
    transition-duration: 1s;
    -ms-transition-duration: 1s;
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-property: transform;
    -ms-transition-property: -ms-transform;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    overflow:hidden;
}

.colore:hover {
    -ms-transform: scale(1.5,1.5);
    -webkit-transform: scale(1.5,1.5);
    -moz-transform: scale(1.5,1.5);
    -o-transform: scale(1.5,1.5);
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
} 


/*Pagina Nome*/
body {
    font-family: 'Space Grotesk', sans-serif;
    color: #0025FF;
}
  
input[type=text] {
      background-color: #e6e6fa ;
}
  
input[type=text] {
      width: 500px;
      height: 50px;
      margin: 50px auto;
      font-size: 30px;
}


/*Pagina chi siamo*/
main#chi_siamo{
    margin-top: 119px;
    padding: 80px 1%;
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

#chi_siamo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.person {
    margin: 20px 57px 20px 57px;
    display: inline-block;
}

#progetto {
    margin-top: 130px;
    width: 1302px;
    height: 385px;
}

.nowrap {
    white-space: nowrap;
}

div.formattato { white-space: pre }
div.nowrap { white-space: nowrap }

@media screen and (max-width: 768px) {
    #progetto>p {width: 100%;}
}


/*Pagina range*/
input[type="range"] { 
    -webkit-appearance: none;
    background-color: #0025FF;
    height: 10px; 
    width: 711px;
} 

input[type="range"]::-webkit-slider-thumb { 
    -webkit-appearance: none;
    background-color: #F5F7FF;
    height: 34px; 
    width: 34px;
    border-radius: 50%;
} 

/*Pagina risultati*/
.immagini-risultati {
    margin: 50px 50px;
    display: inline-block;
}